<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informe Coches por Concesionario</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>
<div class="container mt-5">

    <h1>Ubicación de coches en concesionarios</h1>

    <h5 th:if="${relaciones.size() > 0}">
        Coches, concesionarios y cantidades
    </h5>
    <p th:unless="${relaciones.size() > 0}">
        No hay datos para mostrar
    </p>

    <table class="table table-striped mt-4" th:if="${relaciones.size() > 0}">
        <thead>
        <tr>
            <th>Coche</th>
            <th>Concesionario</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cc : ${relaciones}">
            <td th:text="${cc.coche.modelo}">Focus</td>
            <td th:text="${cc.concesionario.nombre}">Concesionario Central</td>
            <td th:text="${cc.cantidad}">5</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cc/coches-por-concesionario}" class="btn btn-primary btn-lg">
        Filtrar por concesionario </a>
    <a th:href="@{/cc/add}" class="btn btn-primary btn-lg">Agregar coche a concesionario</a>

    <p><a href="/" class="mt-5">Volver a la pantalla de inicio</a></p>

</div>
</body>
</html>
