<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titulo}">Formulario Planta</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>


<body>
<div class="container mt-5">
    <h1 th:text="${titulo}">Formulario</h1>

    <form th:action="@{/plantas/guardar}" th:object="${planta}" method="post">

        <!-- Campo oculto para el ID. Si es 0 se creará nuevo, si es > 0 se editará -->
        <input type="hidden" th:field="*{id_planta}" />

        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" th:field="*{nombre}" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Tipo:</label>
            <input type="text" class="form-control" th:field="*{tipo}" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Altura (m):</label>
            <input type="number" step="0.1" class="form-control" th:field="*{altura}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre Foto (ej: rosa.jpg):</label>
            <input type="text" class="form-control" th:field="*{foto}" />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a th:href="@{/plantas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>