<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Plantas</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<div class="container mt-5">
    <h1>Plantas</h1>

    <h5 th:if="${plantas.size() > 0}">Aquí tienes una tabla con todas las plantas y las acciones que puedes hacer con ellas</h5>
    <p th:unless="${plantas.size() > 0}">No hay plantas registradas en el sistema</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="planta : ${plantas}">
            <td th:text="${planta.id_planta}">1</td>
            <td th:text="${planta.nombre}">Rosa</td>
            <td th:text="${planta.tipo}">Flor</td>
            <td>

                <!-- Mostrar enlace a la página de detalles de la planta -->
                <a th:href="@{/planta/{id_planta}(id_planta=${planta.id_planta})}" class="btn btn-info  btn-sm">Detalles</a>

                <a th:href="@{/plantas/editar/{id}(id=${planta.id_planta})}" class="btn btn-info  btn-sm">Editar</a>

                <!-- En un entorno real, borrar debería ser un form con method POST/DELETE,
                     pero para aprender, un GET está bien -->
                <a th:href="@{/plantas/borrar/{id}(id=${planta.id_planta})}"
                   class="btn btn-info btn-sm"
                   onclick="return confirm('¿Estás seguro de borrar esta planta?')">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/plantas/nueva}" class="mt-5">Agregar Nueva Planta</a>

</div>
</body>
</html>