<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Planta</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>


<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="width: 18rem;">
            <div class="card text-center">
                <!-- Foto -->
                <img th:src="@{/fotos/{nombreImagen}(nombreImagen=${planta.foto})}"
                     alt="Foto"
                     class="img-fluid rounded mb-4"
                     style="max-height: 250px;">

                <div class="card-body">
                    <h1 class="card-title text-info mb-4" th:text="${planta.nombre}">Nombre</h1>

                    <!-- Datos (usamos fw-bold para negrita) -->
                    <p class="fs-5">
                        <span class="fw-bold">Tipo:</span>
                        <!-- Badge para resaltar el tipo -->
                        <span th:text="${planta.tipo}">Tipo</span>
                    </p>

                    <p class="fs-5">
                        <span class="fw-bold">Altura:</span>
                        <span th:text="${planta.altura} + ' m'">0.0 m</span>
                    </p>

                    <hr class="my-4">

                    <a th:href="@{/plantas/editar/{id_planta}(id_planta=${planta.id_planta})}"
                       class="btn btn-info bt-sm">Editar</a>

                    <a th:href="@{/plantas/borrar/{id_planta}(id_planta=${planta.id_planta})}"
                       class="btn btn-info bt-sm"
                       onclick="return confirm('¿Estás seguro de borrar esta planta?')">Borrar</a>
                </div>
            </div>
            <p class="mt-3"><a th:href="@{/plantas}">Volver al listado</a></p>
        </div>
    </div>
</div>
</body>
</html>