<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Jardines</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<div class="container mt-5">
    <h1>Jardines</h1>

    <h5 th:if="${jardines.size() > 0}">Aquí tienes una tabla con todas las jardines y las acciones que puedes hacer con ellas</h5>
    <p th:unless="${jardines.size() > 0}">No hay jardines registradas en el sistema</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jardin : ${jardines}">
            <td th:text="${jardin.id_jardin}">1</td>
            <td th:text="${jardin.nombre}">Rosa</td>
            <td th:text="${jardin.ubicacion}">Flor</td>
            <td>

                <!-- Mostrar enlace a la página de detalles de la jardin -->
                <a th:href="@{/jardin/{id_jardin}(id_jardin=${jardin.id_jardin})}" class="btn btn-info  btn-sm">Detalles</a>

                <a th:href="@{/jardines/editar/{id}(id=${jardin.id_jardin})}" class="btn btn-info  btn-sm">Editar</a>

                <!-- En un entorno real, borrar debería ser un form con method POST/DELETE,
                     pero para aprender, un GET está bien -->
                <a th:href="@{/jardines/borrar/{id}(id=${jardin.id_jardin})}"
                   class="btn btn-info btn-sm"
                   onclick="return confirm('¿Estás seguro de borrar esta jardin?')">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/jardines/nueva}" class="mt-5">Agregar Nueva jardin</a>

</div>
</body>
</html>>